body {
  color: #454552;
  font-size: 14px;
}

.input-group {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  background-color: #609fd0;
  border: #609fd0;
  color: white;
  width: 300px;
  margin-top: 20px;
}

.btn:active,
.btn:focus,
.btn:hover {
  background-color: #3479b0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#content-box {
  text-align: center;
}

p {
  font-size: 22px;
  margin-top: 15px;
}

img {
  width: 60%;
  padding-bottom: 30px;
}

.footer-text {
  margin-top: 10px;
}

a {
  color: #3479b0;
}

.alert-danger {
  text-align: center;
  height: 40px;
  padding: 5px;
  display: none;
  font-size: 20px;
}
